<section class="building-card">
  <div class="card-left">
    <div class="card-colorful-label">
      PROYECTO
    </div>
    <div class="card-image">
      <img src="https://picsum.photos/400/300" alt="ProyectImage">
    </div>
    <div class="card-photo-icon">
      <!-- Descargar camera svg icon -->
    </div>
    <div class="card-video-icon">
      <!-- Descargar video svg icon -->
    </div>
    <div class="card-contact-btn">
      <button class="contact contact--primary">
        Contactar
      </button>
    </div>
  </div>
  <div class="card-right">
    <div class="card-title">
      Departamentos en estreno
    </div>
    <div class="card-district">
      San Juan de Lurigancho
    </div>
    <div class="card-address">
      Coop. Santa Martha Mz. P2 Lt. 12 - Urb Mariscal Caceres
    </div>
    <div class="card-description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde natus, cupiditate cumque, 
      tenetur maiores culpa exercitationem vero quos, quasi dolorem obcaecati rem quidem. 
      Eaque dolore expedita nulla nobis dicta aperiam!
    </div>
    <div class="card-state">
      En contrucción
    </div>
    <div class="card-area">
      120 m2
    </div>
    <div class="card-bedrooms">
      4 dorm.
    </div>
    <div class="card-price-title">
      Venta desde
    </div>
    <div class="card-main-price">
      $ 70,000.00
    </div>
    <div class="card-secondary-price">
      S/. 230,000.00
    </div>
    <div class="card-mini-image">
      <img src="https://picsum.photos/80/80" alt="ProyectMiniImage">
      <img src="https://picsum.photos/80/80" alt="ProyectMiniImage">
    </div>
    <div class="card-contact-btn">
      <button class="contact contact--primary">
        Contactar
      </button>
    </div>
  </div>
</section>