// Estilos para el modo responsive
.building-card {
    .left {
        position: relative;
        width: 100%;
        height: 100vw;
        .colorful-label {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ea5a0b;
            color: white;
            text-align: center;
            padding: 6px;
        }
        .image {
            width: 100%;
            height: 100%;
            background-image: url('https://cde.urbania.g3c.pe/216583/project/2071/result-project/2071-25414465.jpg?1');
            background-size: cover;
        }
        .contact-btn {
            position: absolute;
            right: 20px;
            bottom: 10px;
        }
    }
    .right {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 90px;
        background-color: rgba(0, 0, 0, .65);
        padding: 8px;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: white;
        }
        .district {
            font-size: 14px;
            opacity: 0.5;
            color: white;
        }
        .address {
            display: none;
        }
        .description {
            display: none;
        }
        .state {
            display: none;
        }
        .area {
            position: absolute;
            color: white;
            bottom: 8px;
            left: 8px;
        }
        .price-title {
            position: absolute;
            color: white;
            right: 8px;
            bottom: 28px;
        }
        .main-price {
            position: absolute;
            color: white;
            bottom: 8px;
            right: 8px;
        }
        .secondary-price {
            display: none;
        }
        .mini-image {
            display: none;
        }
        .contact-btn {
            display: none;
        }
    }
}

.contact {
    border: 0;
    font-size: 13px;
    width: 80px;
    height: 32px;
    color: white;
    font-weight: bold;
    &--primary {
        background-color: #ea5a0b;
    }
}

// Estilos para el modo tablet
@media screen and (min-width: 768px) {
    .building-card {}
}

// Estilos para el modo desktop
@media screen and (min-width: 960px) {
    .building-card {
        display: flex;
        flex-wrap: nowrap;
        .left {
            width: 200px;
            height: 200px;
            .colorful-label {
                width: 100%;
                padding: 6px 0;
            }
            .image {
                width: 200px;
                height: 200px;
            }
            .contact-btn {
                display: none;
            }
        }
        .right {
            background-color: #f2f2f2;
            height: 200px;
            padding: 12px 16px;
            box-sizing: border-box;
            .title {
                color: black;
                font-size: 18px;
            }
            .district {
                color: #4f4f4f;
                font-size: 16px;
            }
            .address {
                color: #8f8f8f;
                display: block;
                font-size: 16px;
            }
            .description {
                color: #4f4f4f;
                display: block;
                margin-top: 20px;
                width: calc(100% - 180px);
                height: 28px;
                line-height: 14px;
                overflow: hidden;
            }
            .state {
                position: absolute;
                color: #e76414;
                display: block;
                left: 16px;
                bottom: 40px;
            }
            .area {
                color: #8f8f8f;
                left: 16px;
                bottom: 12px;
            }
            .bedrooms {
                color: #8f8f8f;
            }
            .price-title {
                color: black;
                top: 12px;
                right: 16px;
            }
            .main-price {
                color: black;
                font-size: 18px;
                font-weight: bold;
                top: 32px;
                right: 16px;
            }
            .secondary-price {
                color: #4f4f4f;
                display: block;
                position: absolute;
                top: 52px;
                right: 16px;
            }
            .contact-btn {
                display: block;
                position: absolute;
                right: 20px;
                bottom: 10px;
            }
        }
    }
}