<section class="building-card">
  <div class="left">
    <div class="colorful-label">
      PROYECTO
    </div>
    <div class="image">
      <img src="https://picsum.photos/400/300" alt="ProyectImage">
    </div>
    <div class="photo-icon">
      <!-- Descargar camera svg icon -->
    </div>
    <div class="video-icon">
      <!-- Descargar video svg icon -->
    </div>
    <div class="contact-btn">
      <button class="contact contact--primary">
        Contactar
      </button>
    </div>
  </div>
  <div class="right">
    <div class="title">
      Departamentos en estreno
    </div>
    <div class="district">
      San Juan de Lurigancho
    </div>
    <div class="address">
      Coop. Santa Martha Mz. P2 Lt. 12 - Urb Mariscal Caceres
    </div>
    <div class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde natus, cupiditate cumque, 
      tenetur maiores culpa exercitationem vero quos, quasi dolorem obcaecati rem quidem. 
      Eaque dolore expedita nulla nobis dicta aperiam!
    </div>
    <div class="state">
      En contrucción
    </div>
    <div class="area">
      120 m2
    </div>
    <div class="bedrooms">
      4 dorm.
    </div>
    <div class="price-title">
      Venta desde
    </div>
    <div class="main-price">
      $ 70,000.00
    </div>
    <div class="secondary-price">
      S/. 230,000.00
    </div>
    <div class="mini-image">
      <img src="https://picsum.photos/80/80" alt="ProyectMiniImage">
      <img src="https://picsum.photos/80/80" alt="ProyectMiniImage">
    </div>
    <div class="contact-btn">
      <button class="contact contact--primary">
        Contactar
      </button>
    </div>
  </div>
</section>